# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Mantener carpetas data
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# Datos pesados o privados
data/raw/*
data/processed/*
data/final/*
data/raw/archive.zip

# Modelos
#models/*.pkl

# Variables de entorno
.env

# Ignorar datos
data/raw/*
data/processed/*
data/final/*

# Archivos de configuración
src/*

# Reportes
reports/*
