# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos pesados o privados
data/raw/Big_data_dataset.csv
data/final/comparacion_modelos.csv
data/final/predicciones_random_forest.csv
data/final/incidencias_detectadas_random_forest.csv
data/processed/Big_data_dataset_transformado.csv
reports/graphics/*


# Variables de entorno
.env

# Mantener carpetas reportes
!reports/.gitkeep
!reports/graphics/.gitkeep

# Mantener carpetas y ficheros de informacion
!data/final/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep

# Modelos
*.pkl

# PDF generado
Presentacion_Predictive_IT_Analytics.pdf